body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  background-color: #eee;
  border: 4px solid #555;
  display: block;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
